<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/videos/home.css">
    <title><%= title %></title>
</head>
<body>
    <header class="nav-bar">
        <nav class="nav-area">
            <a class="nav-option"  href="training">Treinos</a>
            <a class="nav-option nav-option-selected" href="videos">Vídeos</a>
            <a class="nav-option" href="calories">Calorias</a>
        </nav>
        <nav class="nav-area">
             <div class="nav-option nav-account">
                <p><%= user %></p>
             </div>
        </nav>
    </header>
    <section>

    </section>
</body>
</html>