<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTrack</title>
</head>
<body>
    <section class="logo-box">
        <img src="/logo/logo-white.png" alt="logo" class="logo-img">
    </section>
    <section class="form-box">
        <h1 class="title-form">Entrar</h1>
        <form action="/login" method="post">
            <div>
                <input class="input-box" id="email" name="email" type="email" placeholder="email"/>
            </div>
            <div>
                <input class="input-box" id="password" name="password" placeholder="senha" type="password" />
              </div>
              <div class="submit-box">
                <div>
                    <a class="remember-password" href="#">
                        esqueceu a senha?
                      </a>
                </div>
                <div>
                    <button class="button-log" type="submit">
                        acessar
                    </button>
                </div>
              </div>
        </form>
        <hr>
        <div>
            <p>usuário novo?</p>
            <button class="button-register">
                Criar conta
            </button>
        </div>
    </section>
</body>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #3F8FD5;
    --second-color: #526B81;
    --background-color: #fff;
}

body{
    background-color: var(--primary-color);
}

.logo-box{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.logo-img{
    width: 300px;
}

.form-box{
    width: 260px;
    padding: 50px;
    border-radius: 10px;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.title-form{
    margin: 0px 0px 20px 0px;
    font-size: 2.5em;
}

.input-box{
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 1.1em;
}

.submit-box{
    margin: 10px 0px;
    display: flex;
    width: 105%;
    justify-content: space-between;
    text-align: center;
}

.remember-password, p{
    padding: 5px;
    text-decoration: none;
    color: var(--second-color);
}

.button-log{
    cursor: pointer;
    padding: 5px 18px;
    font-size: 1em;
    background-color: var(--second-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
}

hr{
    width: 80%;
    margin: 30px ;
    color: var(--second-color);
}

.button-register{
    cursor: pointer;
    padding: 5px 18px;
    font-size: 1.2em;
    width: 100%;
    background-color: var(--background-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
}


</style>
</html>