<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="nav-bar">
        <nav class="nav-area">
            <a class="nav-option"  href="training">Treinos</a>
            <a class="nav-option" href="video">Vídeos</a>
            <a class="nav-option nav-option-selected" href="kcal">Calorias</a>
        </nav>
        <nav class="nav-area">
             <div class="nav-option nav-account">
                <p>@username</p>
             </div>
        </nav>
    </header>
    <section>

    </section>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #3F8FD5;
    --second-color: #526B81;
    --background-color: #fff;
}

.nav-bar{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.nav-area{
    display: flex;
}

.nav-option{
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-option-selected{
    padding-bottom: 5px;
    color: var(--second-color);
    box-shadow: 0px 3px 0px var(--second-color);
}

.nav-account{
    cursor: pointer;
    display: flex;  
}


</style>
</html>