<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/training/home.css">
    <title><%= title %></title>
</head>
<body>
    <header class="nav-bar">
        <nav class="nav-area">
            <a class="nav-option nav-option-selected"  href="http://localhost:3000/home/training">Treinos</a>
            <a class="nav-option" href="http://localhost:3000/home/videos">Vídeos</a>
            <a class="nav-option" href="http://localhost:3000/home/calories">Calorias</a>
        </nav>
        <nav class="nav-area">
             <div class="nav-option nav-account">
                <p><%= user %></p>
             </div>
        </nav>
    </header>
    <main>
        <section class="notraining-box">
            <h1 class="training-title">Você não tem treino!</h1>
            <button type="button" class="newtraining-button">
                novo treino +
            </button>
        </section>
        <section class="training-box">
            <div class="daily-training">

            </div>
            <div class="status-week">
                <div class="report post-it">
                    <h1 class="training-title">Relatório do Dia</h1>
                </div>
                <div class="calendar post-it">
                    <h1 class="training-title">Sua Semana</h1>
                </div>
            </div>
        </section>
    </main>
</body>
</html>