@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-color: #3F8FD5;
    --second-color: #526B81;
    --background-color: #fff;
    --subcolor-01: #F5FAFF;
    --subcolor-02: rgb(141, 0, 0);
}

.nav-bar{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.nav-area{
    display: flex;
}

.nav-option{
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-option-selected{
    padding-bottom: 5px;
    color: var(--second-color);
    box-shadow: 0px 3px 0px var(--second-color);
}

.nav-account{
    cursor: pointer;
    display: flex;  
}

.notraining-box{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.training-title{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.4em;
    color: var(--primary-color);
}

.newtraining-button{
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    align-items: center;
}

.newtraining-button:hover, .edittraining-button:hover{
    color: var(--background-color);
    background-color: var(--second-color);
}

.training-box{
    display: flex;
    width: 100%;
    height: 100vh;
}

.daily-training{
    margin-top: 80px;
    width: 40%;
}

.status-week{
    margin-top: 60px;
    width: 60%; 
}

.post-it{
    margin: 40px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.26);
    background-color: var(--subcolor-01);
}

.report{
    height: 250px;
}

.calendar{
    height: 120px;
}

.training-option{
    display: flex;
    padding: 15px;
}

.deletetraining-button{
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    color: var(--subcolor-02);
    background-color: transparent;
    border: 1px solid var(--subcolor-02);
    border-radius: 5px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    align-items: center;
}

.deletetraining-button:hover{
    background-color: var(--subcolor-02);
    color: var(--background-color);
}

.edittraining-button{
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    color: var(--second-color);
    background-color: transparent;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    align-items: center;
}

.daily-training-body{
    width: 100%;
    margin: 0px 20px;
}

.exercise-box{
    color: var(--second-color);
    margin: 5px;
    padding: 10px;
    width: 90%;
    background-color: var(--subcolor-01);
    border-radius: 10px;
}

.exercise-title{
    font-size: 18px;
}